@import url('https://fonts.googleapis.com/css?family=Ovo:300,300i,400');
html, body{
	font-size: 14px;
	font-family: 'Ovo', serif;
	color: rgb(21,21,21);
}

.poem{
	position: absolute;
	width: 65%;
	height: auto;
	top: 240px;
	left: 180px;
}

h1{
	font-size: 1.6rem;
	line-height: 3.5rem;
	letter-spacing: 1px;
	margin-left: 32px;
}

p{
	font-size: 1.4rem;
	line-height: 2.8rem;
	word-spacing: 1px;
	margin-left: 48px;
}

.left{
	text-align: right;
}

a:link{
	color: black;
	padding: 0 1.8rem;
	text-decoration: none;
	outline: 0;
}

a:visited{
	color: black;
}
